<!-- pet_add_form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Pet</title>
</head>
<body>
    <h1>Add Pet</h1>
    
    <form method="POST" action="/add">
        {{ form.hidden_tag() }}
        
        <div>
            {{ form.name.label }} {{ form.name() }}
        </div>
        <div>
            {{ form.species.label }} {{ form.species() }}
        </div>
        <div>
            {{ form.photo_url.label }} {{ form.photo_url() }}
        </div>
        <div>
            {{ form.age.label }} {{ form.age() }}
        </div>
        <div>
            {{ form.notes.label }} {{ form.notes() }}
        </div>
        
        <input type="submit" value="Add Pet">
    </form>
</body>
</html>
